.mh-bonus-detail {
  position: fixed;
  width: 33.3333333333%;
}

.mh-detail-row {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
  &:last-child {
    border-bottom: 0;
  }
  .col {
    padding: 0;
  }
}


.mh-total-row {
  margin: 0;
  padding: 5px 0;
  .col {
    padding: 0;
  }
}
