.mh-bonus-detail {
  position: fixed;
  width: 33.3333333333%;
  top: 0;
  margin-top: 64px;
  height: calc(100% - 64px);
  overflow-y: auto;
  padding-top: 20px;
  box-sizing: border-box;
}

.mh-detail-row {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}

.mh-detail-row:last-child {
  border-bottom: 0;
}

.mh-detail-row .col {
  padding: 0;
}

.mh-total-row {
  margin: 0;
  padding: 5px 0;
}

.mh-total-row .col {
  padding: 0;
}

.card .card--no-margin-bottom {
  margin-bottom: 0;
}
