<div class="row row--no-margin mh-bonus-detail ps" [perfectScrollbar]="config">
  <div class="col s12">
    <div *ngIf="chosenEquip !== undefined" class="card deep-orange darken-4 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Bonus</span>
        <div *ngFor="let key of filterKeys" class="row mh-detail-row">
          <div class="col s6">{{key}}:</div>
          <div class="col s6">
              <div *ngFor="let bonus of chosenEquip.get(key).bonus">
                <ng-container *ngIf="bonus.name">
                  {{bonus.name}} +{{bonus.value}}
                </ng-container>
                <ng-container *ngIf="!bonus.name">
                    - No bonus -
                 </ng-container>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bonusEquip !== undefined" class="card deep-orange darken-4 hoverable card--no-margin-bottom">
      <div class="card-content white-text">
        <span class="card-title">Total</span>
        <div class="row mh-total-row">
          <div class="col s12">
            <div *ngFor="let key of bonusKey" class="row mh-detail-row">{{key}} +{{bonusEquip.get(key)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
