.card-content--table {
  padding: 0;

 thead  {
   th {
     border-bottom: 1px solid #eeeeee;
   }
  }

 tbody {
   margin-top: 40px;
   tr {
     border-bottom: 1px solid #eeeeee;
   }

   td {
     border-left: 1px solid #eeeeee;
     border-right: 1px solid #eeeeee;
     cursor: pointer;

     &:first-child {
       border-left: 0;
     }

     &:last-child {
       border-right: 0;
     }
   }
 }
}
