.card-content--table {
  padding: 0;
}

.card-content--table thead th {
  border-bottom: 1px solid #eeeeee;
}

.card-content--table tbody {
  margin-top: 40px;
}

.card-content--table tbody tr {
  border-bottom: 1px solid #eeeeee;
}

.card-content--table tbody td {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
}

.card-content--table tbody td:first-child {
  border-left: 0;
}

.card-content--table tbody td:last-child {
  border-right: 0;
}

.card-content--table tbody td.x-filtered {
  background: green;
}
