<div class="card">
  <div class="card-content card-content--table">
    <table class="highlight">
      <thead>
        <tr>
            <th class="center">Name</th>
            <th class="center">Helm</th>
            <th class="center">Chest</th>
            <th class="center">Hands</th>
            <th class="center">Legs</th>
            <th class="center">Boots</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let armor of armor">
          <td [ngClass]="{'x-filtered' : toFilterByName(armor.name)}">{{armor.name}}</td>
          <td *ngFor="let eq of armor.equip" class="center" (click)="armor.name != 'x' && toggle(eq)"
            [ngClass]="{
              'grey lighten-2' : chosenEquip.has(eq.name) && chosenEquip.get(eq.name).id == eq.id,
              'x-filtered-bonus' : toFilterByBonus(eq.bonus)
            }">
              <div *ngFor="let bonus of eq.bonus">
                  <ng-container *ngIf="bonus.name && bonus.name != 'x'">
                    {{bonus.name}} {{bonus.value}}
                  </ng-container>
                  <ng-container *ngIf="!bonus.name">
                     - No bonus -
                  </ng-container>
              </div>
            <div>
              {{eq.socket.small}} - {{eq.socket.medium}} - {{eq.socket.big}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
