<div class="navbar-fixed">
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#" class="brand-logo">Monster Hunter Armory</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="mh-container">
  <div class="row">
    <div class="col s4">
      <app-bonus-detail [chosenEquip]="chosenEquip"></app-bonus-detail>
    </div>
    <div class="col s8">
      <app-table></app-table>
    </div>
  </div>
</div>
