/* You can add global styles to this file, and also import other style files */
.mh-container {
  max-width: 1280px;
  margin: auto;
  padding-top: 20px;
}

p {
  margin: 0;
}

.text-11 {
  font-size: 11px;
}

.row.row--no-margin {
  margin: 0;
}
