/* You can add global styles to this file, and also import other style files */
@import url(~perfect-scrollbar/css/perfect-scrollbar.css);
body {
  background: url("http://www.monsterhunterworld.com/images/common/bg_page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.mh-container {
  padding-top: 20px;
}

p {
  margin: 0;
}

.text-11 {
  font-size: 11px;
}

.row.row--no-margin {
  margin: 0;
}
